<div ng-include="'company/navbar.html'"></div>

<br>
<div class="alert alert-info" role="alert">
	<strong>Create coupon</strong>
</div>
<br>

<!-- Success alert -->
<div class="alert alert-success" role="alert"
	ng-show="vm.updateCompanyStatus=='success'">
	<strong><span class="glyphicon glyphicon-ok-circle"></span></strong>
	Successfully created new coupon
</div>

<!-- Fail alert -->
<div class="alert alert-danger" role="alert"
	ng-show="vm.updateCompanyStatus=='fail'">
	<strong><span class="glyphicon glyphicon-remove-circle"></span></strong>
	Create coupon failed : {{vm.errorMesage}}
</div>



<!-- Create coupon form -->

<div class='row'>

	<form name="form" ng-submit="vm.createCoupon()" role="form">

		<div class="col-md-3 col-md-offset-1">


			<!-- Input : Coupon title -->
			<div class="form-group"
				ng-class="{ 'has-error': form.couponTitle.$dirty && form.couponTitle.$error.required }">
				<label for="couponTitle">Coupon title</label> <input type="text"
					name="couponTitle" id="couponTitle" class="form-control"
					ng-model="vm.coupon.couponTitle" required /> <span
					ng-show="form.couponTitle.$dirty && form.couponTitle.$error.required"
					class="help-block">Coupon title is required</span>
			</div>

			<!-- Input  Coupon start date-->
			<div class="form-group"
				ng-class="{ 'has-error': form.couponStartDate.$dirty && form.couponStartDate.$error.required }">
				<label for="couponStartDate">Coupon start date</label> <input
					type="date" name="couponStartDate" id="couponStartDate"
					class="form-control" ng-model="vm.coupon.couponStartDate" required />
				<span
					ng-show="form.couponStartDate.$dirty && form.couponStartDate.$error.required"
					class="help-block">Coupon start date is required</span>
			</div>

			<!-- Input  Coupon end date-->
			<div class="form-group"
				ng-class="{ 'has-error': form.couponEndDate.$dirty && form.couponEndDate.$error.required }">
				<label for="couponEndDate">Coupon end date</label> <input
					type="date" name="couponEndDate" id="couponEndDate"
					class="form-control" ng-model="vm.coupon.couponEndDate" required />
				<span
					ng-show="form.couponEndDate.$dirty && form.couponEndDate.$error.required"
					class="help-block">Coupon end date is required</span>
			</div>

			<!-- Input : Coupons in stock -->
			<div class="form-group"
				ng-class="{ 'has-error': form.couponsInStock.$dirty && form.couponsInStock.$error.required }">
				<label for="couponsInStock">Coupons in stock</label> <input
					type="number" name="couponsInStock" id="couponsInStock"
					class="form-control" ng-model="vm.coupon.couponsInStock" required />
				<span
					ng-show="form.couponsInStock.$dirty && form.couponsInStock.$error.required"
					class="help-block">Coupons in stock is required</span>
			</div>
		</div>
		
		
		
		<div class="col-md-4 col-md-offset-1">

			<!-- Input : Coupon type -->
			<div class="form-group"
				ng-class="{ 'has-error': form.couponTypeId.$dirty && form.couponTypeId.$error.required }">
				<label for="couponTypeId">Coupon type</label> <span
					ng-show="( form.couponTypeId.$dirty && (form.couponTypeId.$error.required ) || !vm.coupon.couponTypeId)"
					class="help-block" style="color:red">Coupon type is required</span>

				<!--  input type="number"
					name="couponTypeId" id="couponTypeId" class="form-control"
					ng-model="vm.coupon.couponTypeId" required / -->
				<select type="number" name="couponTypeId" class="form-control"
					ng-model="vm.coupon.couponTypeId" required>
					<option value="1">HOLIDAY</option>
					<option value="2">RESTAURANT</option>
					<option value="3">ENTERTAINMENT</option>
					<option value="4">TRAVELLING</option>
				</select>
			</div>

			<!-- Input  Coupon message-->
			<div class="form-group"
				ng-class="{ 'has-error': form.couponMessage.$dirty && form.couponMessage.$error.required }">
				<label for="couponMessage">Coupon message</label> <input type="text"
					name="couponMessage" id="couponMessage" class="form-control"
					ng-model="vm.coupon.couponMessage" required /> <span
					ng-show="form.couponMessage.$dirty && form.couponMessage.$error.required"
					class="help-block">Coupon message is required</span>
			</div>

			<!-- Input  Coupon price-->
			<div class="form-group"
				ng-class="{ 'has-error': form.couponPrice.$dirty && form.couponPrice.$error.required }">
				<label for="couponPrice">Coupon price</label> <input type="number"
					name="couponPrice" id="couponPrice" class="form-control"
					ng-model="vm.coupon.couponPrice" required /> <span
					ng-show="form.couponPrice.$dirty && form.couponPrice.$error.required"
					class="help-block">Coupon price is required</span>
			</div>

			<!-- Input  Image file name-->
			<div class="form-group"
				ng-class="{ 'has-error': form.imageFileName.$dirty && form.imageFileName.$error.required }">
				<label for="imageFileName">Image file</label> <input type="file"
					name="imageFileName" id="imageFileName" class="form-control"
					ng-simple-upload web-api-url="/api/Upload"
					ng-model="vm.coupon.imageFileName" required /> <span
					ng-show="form.imageFileName.$dirty && form.imageFileName.$error.required"
					class="help-block">Image file is required</span>
			</div>



			<!-- Submit button : Create coupon-->
			<div class="form-actions">
				<button type="submit" ng-disabled="form.$invalid || vm.dataLoading"
					class="btn btn-primary">Create coupon</button>
			</div>
		</div>
	</form>

</div>
