<div ng-include="'admin/navbar.html'"></div>

<!--  style>
table, td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
</style -->

<style>
	table {
	    font-family: arial, sans-serif;
	    border-collapse: collapse;
	    width: 100%;
	}
	
	td, th {
	    border: 1px solid #dddddd;
	    text-align: left;
	    padding: 8px;
	}
	
	tr:nth-child(even) {
	    background-color: #dddddd;
	}
</style>

<h3>Registered companies</h3>


<table>

  <tr>
    <th>Company</th>
    <th>Email</th>
    <th>Remove</th>
    <th>Edit</th>
  </tr>

  <tr ng-repeat="company in vm.allCompanys">
  
    <td ng-if="$odd" style="background-color:white"> {{ company.companyName }}</td>
    <td ng-if="$even">                               {{ company.companyName }}</td>
    
    <td ng-if="$odd" style="background-color:white"> {{ company.companyEmail }}</td>
    <td ng-if="$even">                               {{ company.companyEmail }}</td>

    <td ng-if="$odd" style="background-color:white"> <button ng-click="vm.deleteCompany(company.companyId,company.companyName)" type="button" class="btn btn-default btn-sm" ><span class="glyphicon glyphicon-trash"></span> Remove</button></td>
    <td ng-if="$even">                               <button ng-click="vm.deleteCompany(company.companyId,company.companyName)" type="button" class="btn btn-default btn-sm" ><span class="glyphicon glyphicon-trash"></span> Remove</button></td>

    <td ng-if="$odd" style="background-color:white"> <button href="#" data-toggle="modal" data-target="#login-modal"><span class="glyphicon glyphicon-edit" ></span> Edit</button></td>
    <td ng-if="$even">                               <button ng-click="vm.deleteUser(company.id)" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit" ></span> Edit</button></td>
    
  </tr>
</table>

<!-- a href="#" data-toggle="modal" data-target="#login-modal">Login</a-->

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Login to Your Account</h1><br>
				  <form>
					<input type="text" name="user" placeholder="Username">
					<input type="password" name="pass" placeholder="Password">
					<input type="submit" name="login" class="login loginmodal-submit" value="Login">
				  </form>
					
				  <div class="login-help">
					<a href="#">Register</a> - <a href="#">Forgot Password</a>
				  </div>
				</div>
			</div>
		  </div>

<!--  ul>
    <li ng-repeat="company in vm.allCompanys">
        {{company.companyName}} ({{company.companyEmail}} {{company.sysCreationDate}})
        - <a ng-click="vm.deleteUser(company.id)">Delete</a>
    </li>
</ul -->

